* {
  box-sizing: border-box;
  margin: 0.5em;
}

#review-div {
  display: none;
}

img {
  height: 500px;
  width: auto;
}

header {
  font-size: 3em;
  color: white;
  background-color: blue;
  height: 150px;
  padding: 0.25em;
  text-align: center;
}

input {
  display: block;
  padding: 10px;
  font-weight: bold;
}

input[type='textarea'] {
  height: 3em;
  width: 80%;
  font-weight: normal;
}
